.main-slider {
    position: relative;
	margin-bottom: 30px;

	&::after {
		content: "";
		
	}
}


.slider-top-banner {
	background: url(../images/intro/slider/banner.png) no-repeat top 50px right 0;
	background-size: contain;
    height: 100vh;

	&:before{
		content: "";
		height: 100%;
		width: 100%;
		background: url(../images/intro/slider/banner-bg.png) no-repeat top left;
		position: absolute;
		z-index: -1;
		top: -30px;
		left: -130px;
	}
	.slider-banner {
		.slider-main {
			top: 50%;
			right: 55px;
			position: absolute;
			z-index: 9;
		}		
		.slider-1 {
			height: 100%;
			width: 100%;
			background: url(../images/intro/slider/banner/01.png) no-repeat top;
			background-size: 100%;
			position: absolute;
			top: 48%;
			right: 50px;
			z-index: 9;
		}
		.slider-2 {
			height: 100%;
			width: 100%;
			background: url(../images/intro/slider/banner/02.png) no-repeat top;
			background-size: 100%;
			position: absolute;
			top: 27%;
			right: -20%;
			z-index: 99;
		}
		.slider-3 {
			height: 100%;
			width: 100%;
			background: url(../images/intro/slider/banner/03.png) no-repeat top;
			background-size: 100%;
			position: absolute;
			top: 20px;
			right: -44%;
			z-index: 99;
		}
	}
}

.slider-text{
		padding: 50px 0 0;

    h1{
        font-size: 40px;
        line-height: 55px;
        margin: 0 auto;
    }
	p.slider-sub-text {
		font-size: 20px;
		font-weight: 500;
		letter-spacing: 6px;
	}
    .templt{
        text-decoration: line-through;
	}
	.old-price {
		color: $light;
		text-decoration: line-through;
	}
}


// links
.slider-copyright {
    position: fixed;
	top:50%;
	transform: translateY(-50%);
	left: -45px;
	color: $body-text;
	z-index:10;
	a{
		color: $body-text;
		font-weight: 700;
		letter-spacing: 1px;
		transform: rotate(-90deg);
		display: block;
	}
}
.slider-breed{
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	left: auto;
	right: -60px;
	z-index: 10;
	color: $body-text;
	a{
		color: $body-text;
		font-weight: 700;
		letter-spacing: 1px;
		transform: rotate(-90deg);
		display: block;
	}
}


/*-------*/
.slider-area {
	width: 100%;
	
	.area-circles {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		li {
			position: absolute;
			display: block;
			list-style: none;
			width: 20px;
			height: 20px;
			background: rgba(255, 255, 255, 0.6);
			animation: circles-animate 25s linear infinite;
			bottom: 100px;

			&:nth-child(1) {
				left: 10%;
				width: 80px;
				height: 80px;
				animation-delay: 0s;
			}
			&:nth-child(2) {
				left: 5%;
				width: 20px;
				height: 20px;
				animation-delay: 2s;
				animation-duration: 12s;
			}
			&:nth-child(3) {
				left: 70%;
				width: 20px;
				height: 20px;
				animation-delay: 4s;
			}
			&:nth-child(4) {
				left: 15%;
				width: 60px;
				height: 60px;
				animation-delay: 0s;
				animation-duration: 18s;	
			}
			&:nth-child(5) {
				left: 65%;
				width: 20px;
				height: 20px;
				animation-delay: 0s;	
			}
			&:nth-child(6) {
				left: 75%;
				width: 110px;
				height: 110px;
				animation-delay: 3s;	
			}
			&:nth-child(7) {
				left: 20%;
				width: 150px;
				height: 150px;
				animation-delay: 7s;	
			}
			&:nth-child(8) {
				left: 50%;
				width: 25px;
				height: 25px;
				animation-delay: 15s;
				animation-duration: 45s;	
			}
			&:nth-child(9) {
				left: 20%;
				width: 15px;
				height: 15px;
				animation-delay: 2s;
				animation-duration: 35s;	
			}
			&:nth-child(10) {
				left: 85%;
				width: 150px;
				height: 150px;
				animation-delay: 0s;
				animation-duration: 11s;	
			}
		}
	}
}

@keyframes circles-animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

@media (max-width: 1300px) {
	.slider-area {
		.area-circles {
			li {
				&:first-child{
					width: 40px;
					height: 40px;
				}
				&:nth-child(6) {
					width: 60px;
					height: 60px;
				}
				&:nth-child(7) {
					width: 60px;
					height: 60px;
				}
				&:nth-child(10) {
					width: 60px;
					height: 60px;
				}
			}
		}
	}

}
@media (max-width:767px) {
	.slider-banner {
		display: none;
	}
}

@media (max-width: 575px) {
	.slider-top-banner  {
		margin-bottom: 0px;
		.slider-banner {
			.slider-main {
				margin-top: 30px;
			}
		}
		
	} 
	
    .slider-text {
        h1 {
            font-size: 28px;
            line-height: 42px;
        }
    }
}